.gridContainer{
    /* z-index: 99; */
    /* position: absolute; */

    height:calc(100vh - 100px);
    width: 1024px;
    display:grid;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    grid-template-columns: auto auto;

}

.gridElement{
    display:flex;
    flex-direction: column;
    overflow: auto;
    padding:10px;

}

.gridElement img:hover{
    cursor: pointer;
}

.gridElement span{
    text-align: center;
}

